html {
	height: -webkit-fill-available;
}

body {
	margin: 0;
	padding: 0;
	height: 100vh;
	height: -webkit-fill-available;
	min-height: 100vh;
	min-height: -webkit-fill-available;
	font-family: Arial, sans-serif;
	overflow: hidden;
}

button {
	cursor: pointer;
}

button > * {
	/* no contents of a button should get its own clicks etc. */
	pointer-events: none;

	/* rules for IE11 that prevent the 1px movement of contents while button is active */
	position: relative;
	top: 0;
	left: 0;
}

button::-moz-focus-inner {
	border: 0;
}

a {
	color: #29ac07;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-track {
	background: #ffffff;
}

::-webkit-scrollbar-thumb {
	background: #8a8a8a;
	border-radius: 4px;
}

* {
	scrollbar-color: #8a8a8a #ffffff;
	scrollbar-width: thin;
}

#app {
	overflow: hidden;
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
}
